.file-upload-container {
    width:330px;
  }
  
  .file-upload-label {
    font-size: 16px;
    font-weight: 400px;
    color:#353535;
  }
  
  .required {
    color: red;
  }
  
  .dropzone {
    border: 2px dashed #7825E9;
    border-radius: 5px;

    text-align: center;
    cursor: pointer;
    margin-top:10px;
    height:100px;
  }
  
  .file-types, .max-size {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .color-file-types{
    color:#646464;
  }
  .color-max-size{
    color:#969696;
  }
  .link{
    color:#7825E9;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
  }
  .drag-drop-label{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .uploaded-files{
    border: 0.5px solid #b485f6;
    width:330px;
  }